# Compiled output
permit-ui/dist/
permit-ui/tmp/
permit-ui/out-tsc/
permit-ui/bazel-out/

# Node
permit-ui/node_modules/
permit-ui/npm-debug.log
permit-ui/yarn-error.log

# IDEs and editors
permit-ui/.idea/
permit-ui/.project
permit-ui/.classpath
permit-ui/.c9/
permit-ui/*.launch
permit-ui/.settings/
permit-ui/*.sublime-workspace

# Visual Studio Code
permit-ui/.vscode/*
!permit-ui/.vscode/settings.json
!permit-ui/.vscode/tasks.json
!permit-ui/.vscode/launch.json
!permit-ui/.vscode/extensions.json
permit-ui/.history/

# Miscellaneous
permit-ui/.angular/cache/
permit-ui/.sass-cache/
permit-ui/connect.lock
permit-ui/coverage/
permit-ui/libpeerconnection.log
permit-ui/testem.log
permit-ui/typings/

# System files
permit-ui/.DS_Store
permit-ui/Thumbs.db

# Local DB / Test Artifacts
permit-ui/server/database.json
permit-ui/cypress-dist/**/*
permit-ui/src/app/assets/constants/*.js.map
.DS_Store
package-lock.json
permit-ui/package-lock.json
permit-ui/cypress/downloads/downloads.html
