<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" formControlName="name" />
        <label for="description">Description</label>
        <input
          id="description"
          class="form-control"
          formControlName="description"
        />
        <label for="price">Price</label>
        <input id="price" class="form-control" formControlName="price" />
        <label for="quantity">Quantity</label>
        <input id="quantity" class="form-control" formControlName="quantity" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
