<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form
    [formGroup]="productForm.form"
    class="needs-validation"
    (ngSubmit)="createProduct()"
  >
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name*</label>
        <div class="input-group has-validation">
          <input id="name" class="form-control" formControlName="name" />
        </div>
        @if(productForm.invalidName){
        <div>
          <p class="lp-control-error">{{ errorMessages.invalidName }}</p>
        </div>
        }
        <label for="description">Description*</label>
        <div class="input-group has-validation">
          <input
            id="description"
            class="form-control"
            formControlName="description"
          />
        </div>
        @if(productForm.invalidDescription){
        <div>
          <p class="lp-control-error">{{ errorMessages.invalidDescription }}</p>
        </div>
        }
        <label for="price">Price*</label>
        <div class="input-group has-validation">
          <input id="price" class="form-control" formControlName="price" />
        </div>
        @if(productForm.invalidPrice){
        <div>
          <p class="lp-control-error">{{ errorMessages.invalidPrice }}</p>
        </div>
        }
        <label for="quantity">Quantity*</label>
        <div class="input-group has-validation">
          <input
            id="quantity"
            class="form-control"
            formControlName="quantity"
          />
        </div>
        @if(productForm.invalidQuanity){
        <div>
          <p class="lp-control-error">{{ errorMessages.invalidQuantity }}</p>
        </div>
        }
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </div>
  </form>
</ng-template>
